{% extends "base/class.php.twig" %}

{% block file_path %}
\Drupal\{{module}}\Plugin\Daemons\{{class_name}}.
{% endblock %}

{% block namespace_class %}
namespace Drupal\{{module}}\Plugin\Daemons;
{% endblock %}

{% block use_class %}
use Drupal\Core\State\State;
use Drupal\daemons\DaemonPluginBase;
use Symfony\Component\DependencyInjection\ContainerInterface;
{% endblock %}

{% block class_declaration %}
/**
 * Provides a '{{class_name}}' daemon.
 *
 * @Daemon(
 *  id = "{{plugin_id}}",
 *  label = @Translation("{{label}}"),
 *  periodicTimer="60",
 * )
 */
class {{class_name}} extends DaemonPluginBase {% endblock %}
{% block class_methods %}
 /**
  * Constructs a new LittersUpdateQueueDaemon object.
  *
  * @param array $configuration
  *   Configuration of Daemon.
  * @param string $plugin_id
  *   Plugin id.
  * @param object $plugin_definition
  *   Plugin definition.
  * @param \Drupal\Core\State\State $state
  *   The state key-value store service.
  */
 public function __construct(array $configuration, $plugin_id, $plugin_definition, State $state) {
  parent::__construct($configuration, $plugin_id, $plugin_definition, $state);
  $this->state = $state;
  $this->configuration = $configuration;
 }

 /**
  * {@inheritdoc}
  */
 public static function create(ContainerInterface $container, array $configuration, $plugin_id, $plugin_definition) {
  return new static(
   $configuration,
   $plugin_id,
   $plugin_definition,
   $container->get('state')
  );
 }

 /**
  * {@inheritdoc}
  */
 public function execute($loop) {
  // Add code to execute by daemon.
 }
{% endblock %}
